/* COLOR VARIABLES */
:root {
 --color-primary: #c69963;
--color-primary-dark: #B28451;
--color-secondary: #101d2c;
--color-grey-light-1: #f9f7f6;
--color-grey-light-2: #aaa;
--color-grey-dark-1: #54483A;
--color-grey-dark-2: #6D5D4B;
}

/* FONT VARIABLES */
:root {
--font-primary: 'Nunito', sans-serif;
--font-display: 'Josefin Sans', sans-serif;
}

*, 
*::before,
*::after {
 margin: 0;
 padding: 0; 
 box-sizing: inherit;
} 
html {
 box-sizing: border-box;
 font-size: 62.5%;
 /* 1 rem = 10px */


}

body {
 font-family: var(--font-primary);
 color: var(--color-grey-dark-2);
 font-weight: 300;
 line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
.sidebar {
 background-color: var(--color-primary);
 grid-column: sidebar-start / sidebar-end;
 grid-row: 1 / -1;
display: flex;
justify-content: center;
}
.nav-btn {
  border: none;
  border-radius: 0;
  margin-top: 4rem;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  
}
.nav-btn::before, .nav-btn::after {
  content: "";
  background-color: #fff;
    height: 2px;
    width: 4.5rem;
    display: block;
}
.nav-btn::before {
  transform: translateY(-1.5rem);
}
.nav-btn::after {
  transform: translateY(1.3rem);
}
.header {
 background-color: var(--color-grey-dark-1);
 grid-column: full-start / col-end 6;
 background-image: linear-gradient(#101d2cEE, #101d2cEE), url(img/hero.jpeg);
 background-size: cover;
 justify-content: center;
 display: grid;
 grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
 grid-template-columns: minmax(min-content, max-content);
 row-gap: 1.5rem ;
 padding: 8rem;
 padding: 4rem;
}
.header__logo {
height: 3rem ;
justify-self: center;
}
.header-btn {
  align-self: start;
  justify-self: start;
}
.header__seenon-text {
  display: grid;
  column-gap: 1.5rem;
  align-items: center;
  grid-template-columns: 1fr max-content 1fr;
font-size: 1.6rem;
color: var(--color-grey-light-2);

}
.header__seenon-text::before, .header__seenon-text::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}
.header__seenon__logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  justify-items: center;
  align-items: center;
}
.header__seenon__logos > img {
 max-height: 2.5rem;
 max-width: 100%;

 filter: brightness(70%);
}
.realtors {
 background-color: var(--color-secondary);
 grid-column: col-start 7 / full-end;
 padding: 3rem;
 display: grid;
 align-content: center;
 justify-content: center;
 row-gap: 2rem;
 justify-items: center;
}
.realtors__list {
display: grid;
grid-template-columns: min-content max-content;
column-gap: 2rem;
row-gap: 5vh;
align-items: center;
}
.realtors__img {
width: 7rem;
border-radius: 50%;
display: block;
}
.realtors__sold {
 text-transform: uppercase;
 color: var(--color-grey-light-2);
 margin-top: -3px;
 
}
.features {

 grid-column: center-start / center-end;

 margin: 15rem 0rem;
 display: grid;
 /* grid-template-columns: repeat(3, 1fr); */
 grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
 grid-gap: 6rem;
 align-items: start;
}
.feature {

 & > feature__text {
  font-size: 1.7rem;
 }

}
.heading-1 {
  font-size: 4.5rem;
  color: var(--color-grey-light-1);
  line-height: 1;
}
    .heading-2 {
     font-family: var(--font-display);
     font-style: italic;
     font-size: 4rem;
     line-height: 1;
    }
  
    .heading-2--dark {
     color: var(--color-grey-dark-1);
    }

    .heading-3 {
     font-size: 1.6rem;
     color: var(--color-primary);
     text-transform: uppercase;
    }
.heading-4 {
 font-family: var(--font-display);
 font-weight: 400;
 font-size: 1.9rem;
}
  .heading-4--dark {
   color: var(--color-grey-dark-1);
  }
    .heading-4--light {
      color: var(--color-grey-light-1);
    }
.story__pictures {
 background-image: linear-gradient(#c6996380, #c6996380),url(img/back\(1\).jpg);
 grid-column: full-start / col-end 4;
background-size: cover;
 display: grid;
 grid-template-rows: repeat(6, 1fr);
grid-template-columns: repeat(6, 1fr);
align-items: center;
}
.story__img--1 {
 width: 100%;
 grid-row: 2 / 6;
 grid-column: 2 / 6;
box-shadow: rem 2rem 5rem rgba(#000, .1);
}
.story__img--2 {
width: 110%;
grid-row: 4 / 6 ;
grid-column: 4/ 7;
z-index: 10;
box-shadow: rem 2rem 5rem rgba(#000, .1);
}
.story__contents {
 background-color: var(--color-grey-light-1);
 grid-column: col-start 5 / full-end;
padding: 6rem 8vw;
 display: grid;
 align-content: center;
 justify-items: start;
}
.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem;
  
}
.btn {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: none;
  font-family: var(--font-display);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s;
}
.btn:hover {
  background-color: var(--color-primary-dark);
}
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}
.homes {

 grid-column: center-start / center-end;
 margin: 15rem 0;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
 grid-gap: 7rem;
 
}
.home {
  background-color: var(--color-grey-light-1);
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;
  & > img {
    z-index: 1;
   width: 100%;
   grid-column: 1 / -1;
  grid-row: 1 / 2;
  }
  & > .home-name {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: end;
  z-index: 3;
  
  width: 80%;
  font-family: var(--font-display);
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: var(--color-secondary);
  color: #fff;
  font-weight: 400;
  transform: translateY(50%);

  }
        &>.home__location,
        .home__rooms {
          margin-top: 2.5rem;
        }
  & > .home__location,
    .home__rooms,
    .home__area,
    .home__price {
     font-size: 1.5rem;
     margin-left: 2rem;

     display: flex;
     justify-content: center;
  }
  & > .home__btn {
    grid-column: 1 / -1;
  }
}
.gallery {
 background-color: var(--color-grey-light-1);
 grid-column: full-start / full-end;
 display: grid;
 grid-template-columns: repeat(8, 1fr);
 grid-template-rows: repeat(7, 5vw);
 grid-gap: 1.5rem;
 padding: 1.5rem;
}
 .gallery__item--1 {
    grid-column: 1 / span 2;
    grid-row: 1/ span 2 ;
 }
    .gallery__item--2 {
      grid-column: 3 / 6;
      grid-row: 1/ span 3;
    }
    .gallery__item--3 {
     grid-row: 1 /span 2;
    }
    .gallery__item--4 {
     grid-column: span 2;
     grid-row: span 2;
    }
    .gallery__item--5 {
      grid-column: 1 / span 2;
      grid-row: span 3;
    }
    .gallery__item--6 {
      grid-column: 3 / 5;
      grid-row: span 2;
    }
    .gallery__item--8 {
      grid-column: 6 /span 2;
      grid-row: 3 / 5;
    }
    .gallery__item--9 {
      grid-column: 8 / 9;
      grid-row: 3 / 6;
    }
    .gallery__item--10 {
      grid-column: 1 / 2;
     grid-row: span 2;
    }
  .gallery__item--11 {
    grid-column: 2 / 4;
    grid-row: 6 / 8;
  }
  .gallery__item--12 {
    grid-row: 6 / 8;
    grid-column: 4 / 5;
  }
    .gallery__item--13 {
      grid-row: 5 / 8;
      grid-column: 5 / 8;
    }
        .gallery__item--14 {
          grid-row: span 2;
        }
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.footer {
 background-color: var(--color-secondary);
 grid-column: full-start / full-end;
 padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem , 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.nav__link:link, .nav__link:visited {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-family: var(--font-display);
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all .2s;
}
.nav__link:hover, .nav__link:active {
  background-color: rgba(#fff, .05);
  transform: translateY(-3px);
}
.copyright {
  font-size: 1.4rem;
  color: var(--color-grey-light-2);
  margin: 6rem auto 0 auto;
  text-align: center;
  width: 70%;
}

 @media only screen and (max-width: 75em) {
  html {
  font-size: 50%;

  } 
 }

@media only screen and (max-width: 62.5em) {
    .container {
        display: grid;
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      }
    .sidebar {
        grid-column: 1 / -1;
        ;
        grid-row: 1 / 2;
        justify-content: flex-end;
        align-items: center;
      }
.nav-btn, .nav-btn::after, .nav-btn::before {
    margin-top: 0;
    margin-right: 3rem;
  
  }
.nav-btn::before {
  transform: translateY(-1.2rem);
}

.nav-btn::after {
  transform: translateY(1rem);
}
}
@media only screen and (max-width: 50em) {
    .container {
        display: grid;
        grid-template-rows: 6rem calc(100vh - 6rem)
        
      }
      .header {
        grid-column: 1 / -1;
      }
      .realtors {
        grid-column: 1 /-1;
      }
      .realtors__list {
        grid-template-columns: repeat(3, min-content max-content);
      }
      .story__contents {
        grid-column: 1 / -1;
        grid-row: 5 / 6;
      }
      .story__pictures {
        grid-column: 1 /-1;
      }
      .story__img--1 {
        grid-column: 2 / 5;
              }
            .story__img--2 {
              grid-column: 4 / 7;
              grid-row: 1 / -1;
              width: 100%;
            }

           
}
 @media only screen and (max-width:37.5em) {
   .header {
    padding: 5rem;
   }
  .realtors__list {
     grid-template-columns: min-content max-content;
   }

 }





  
